/*========Variables========*/
/*========General========*/
.App {
  padding: 0;
  font-family: "Montserrat", sans-serif; }

hr {
  border-top: 1px solid #dedede; }

section {
  padding: 6rem 8rem 3rem; }

.light {
  background-color: #ffffff; }

.dark {
  background-color: #f8f8f8; }
  .dark .sectionTitle div {
    background-color: #f8f8f8; }

.action {
  color: red; }

/*========Header========*/
.header {
  height: 90px;
  margin-bottom: 0;
  background-color: white;
  color: #333; }
  .header .navbarBrand {
    color: #333333;
    font-size: 2em;
    text-align: center; }

/*========Sub Header========*/
.subHeader {
  margin-bottom: 0; }

.searchButton {
  position: relative;
  left: -9px;
  border-radius: 0 4px 4px 0; }

/*========Banner========*/
.banner {
  background-color: lightblue;
  height: 377px; }
  .banner .bannerButton {
    border-radius: 0;
    border: none;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 8px 25px; }

/*========Front Page========*/
.frontPageBlock {
  height: 430px;
  background-color: lightblue; }

figcaption {
  text-align: center; }

.sectionTitle:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 6px;
  left: 0;
  background-color: #dedede;
  z-index: -1; }

.titleBackground {
  background-color: white;
  z-index: 4; }

.sectionTitle {
  text-align: center;
  position: relative;
  font-family: 'ProximaNova Semibold',sans-serif;
  text-transform: uppercase;
  top: -5px;
  z-index: 5; }
  .sectionTitle div {
    background-color: white;
    height: 50px;
    display: inline-block;
    position: relative;
    top: -25px; }
    .sectionTitle div h3 {
      letter-spacing: 3px;
      margin: 20px 25px;
      font-weight: 500;
      font-size: 23px; }

.darkerSection {
  background-color: #f8f8f8;
  margin: 0 100px; }
  .darkerSection div {
    background-color: #f8f8f8; }

.brandBar img {
  height: 80px;
  width: 130px; }

/*===============Footer===============*/
footer {
  background-color: #fafafa;
  padding: 6rem 8rem 3rem; }
  footer h6 {
    padding-left: 8px;
    padding-bottom: 10px;
    margin-bottom: 0; }
  footer img {
    text-align: center; }

.footerHeader {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1.5px; }

ul {
  padding-left: 8px; }
  ul li {
    list-style-type: none;
    padding-bottom: 5px;
    color: #888888;
    cursor: pointer; }
    ul li:hover {
      color: #333333;
      transition: .3s; }

.fa {
  font-size: 1.4em;
  margin: 5px;
  padding: 12px;
  border-radius: 50%;
  color: #888888; }
  .fa:hover {
    color: #333333;
    transition: .3s; }
  .fa:first-child {
    padding-left: 1px; }

.socialMediaBar {
  padding: 0; }
  .socialMediaBar li {
    display: inline; }

.paymentBadgeContainer {
  position: relative;
  left: 5px; }
  .paymentBadgeContainer .paymentBadge {
    height: 75px;
    width: 100px; }

.storeBadgeContainer {
  position: relative;
  top: -30px;
  left: 7px; }
  .storeBadgeContainer .storeBadge {
    height: 108px;
    width: 108px;
    padding: 0; }
  .storeBadgeContainer .google {
    position: relative;
    left: -30px; }

/*# sourceMappingURL=App.css.map */
