.App {
  padding: 0;
}

/*========Header========*/

.header {
  margin-bottom: 0;
  background-color: white;
  color: #333;
  .navbarBrand {
    color: #333;
    font-size: 2em;
    text-align: center;
  }
}

